<?php

return array(
    'components' => array(
        'mailService' => array(
            'class'     => 'application.components.MailService',
        ),
        'newsletter' => array(
            'class'     => 'application.components.NewsletterService',
            'api_key'    => '${MAILCHIMP_API_KEY}',
            'list_id'    => '${MAILCHIMP_LIST_ID}',
        ),
        'analytics' => array(
            "class" => "application.components.AnalyticsService",
            "client_email" => "${ANALYTICS_CLIENT_EMAIL}",
            "client_id" => "${ANALYTICS_CLIENT_ID}",
            "key_file" => realpath(dirname(__FILE__)."/keyfile.json"),
            "app_name" => "GigaDB",
        ),
    ),
    'params'=>array(
        'home_url' => '${HOME_URL}', // Where top level link goes to

        // Used in the contact page
        'adminEmail'=> '${SERVER_EMAIL}',

        // This is used as the sender of emails
        'app_email_name' => 'GigaDB',
        'app_email' => '${SERVER_EMAIL}',
        'email_prefix' => '[GigaDB] ',

        'support_email' => '${SERVER_EMAIL}',

        // Notified when a new user signs up
        'notify_email' => '${SERVER_EMAIL}',

        // Cogini
        'recaptcha_publickey' => '${RECAPTCHA_PUBLICKEY}',
        'recaptcha_privatekey' => '${RECAPTCHA_PRIVATEKEY}',
        "google_analytics_profile" => "${GOOGLE_ANALYTICS_PROFILE}",

        // Sphinx params
        'sphinx_servername' => 'localhost',
        'sphinx_port' => 9312,

        // MDS params
        'mds_username' => '${MDS_USERNAME}',
        'mds_password' => '${MDS_PASSWORD}',
        'mds_prefix' => '${MDS_PREFIX}',
    ),
);
