<?php

return [
    'db' => [
        "host" => "",
        "port" => "",
        "database" => "",
        "test_database" => "",
        "username" => "",
        "password" => "",
    ],
    'ftp' => [
        "host" => "",
        "username" => "",
        "password" => "",
    ],
];

