<?php

return [
    'db' => [
        "host" => "pg9_3",
        "port" => "5432",
        "database" => "gigadb",
        "test_database" => "gigadb_test",
        "username" => "gigadb",
        "password" => "",
    ],
    'ftp' => [
        "host" => "$cngbbackup_ftp_hostname",
        "username" => "$cngbbackup_ftp_username",
        "password" => "$cngbbackup_ftp_password",
    ],
];

