<?xml version="1.0" encoding="UTF-8"?>
<setting>
    <schemaFile>configuration/gigascience.sql</schemaFile>
    <excelDir>dataDir</excelDir>
    <uploadDir>uploadDir</uploadDir>
    <databaseUrl>jdbc:postgresql://{{ pg_host }}:{{ pg_port }}/{{ pg_database }}</databaseUrl>
    <databaseUserName>{{ pg_user }}</databaseUserName>
    <databasePassword>{{ pg_password }}</databasePassword>
</setting>