<?xml version="1.0" encoding="UTF-8"?>
<setting>
    <schemaFile>configuration/gigascience.sql</schemaFile>
    <excelDir>dataDir</excelDir>
    <uploadDir>uploadDir</uploadDir>
    <databaseUrl>jdbc:postgresql://{{ gigadb_db_host }}:{{ gigadb_db_port }}/{{ gigadb_db_database }}</databaseUrl>
    <databaseUserName>{{ gigadb_db_user }}</databaseUserName>
    <databasePassword>{{ gigadb_db_password }}</databasePassword>
</setting>