version: '3.7'
services:
  files-metadata-console:
    build:
      context: .
    working_dir: /gigadb/app/tools/files-metadata-console
    volumes:
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      - ./:/gigadb/app/tools/files-metadata-console:delegated
      - ../../services:/gigadb/app/services
      - ../../models:/gigadb/app/models
      # For accessing pgdmp database dumps
      - ../../../../sql:/gigadb/app/tools/files-metadata-console/sql
      # For saving doi.md5, doi.filesizes files
      - ./tests/_data/var/share/gigadb/metadata:/var/share/gigadb/metadata
    networks:
      # Connect to db-tier network in ops/docker-compose.yml
      - proxy-db-tier

  composer:
    environment:
      DOCKER_RUNNING: "true"
    image: composer/composer:2.4.3
    working_dir: /gigadb/app/tools/files-metadata-console
    volumes:
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      - ./:/gigadb/app/tools/files-metadata-console:delegated
      - ../../services:/gigadb/app/services
      - ../../models:/gigadb/app/models

  configure:
    image: rija/docker-alpine-shell-tools:1.0.1
    working_dir: /gigadb/app/tools/files-metadata-console
    volumes:
      - ./:/gigadb/app/tools/files-metadata-console:delegated
      - ../../configurator:/gigadb/app/configurator:ro
    command: /gigadb/app/tools/files-metadata-console/configure

networks:
  proxy-db-tier:  # represents db-tier network in ops/docker-compose.yml
    name: deployment_db-tier
    # TODO: Uncomment this option after upgrading Docker compose in CICD pipeline
    # external: true
