version: '3.7'
services:

  production_tool:
    build:
      context: ../../../..
      dockerfile: gigadb/app/tools/readme-generator/Dockerfile-Production
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_tool:$GIGADB_ENV"
    volumes:
      # Map host directory /home/centos/readmeFiles to /app/readmeFiles in container
      - /home/centos/readmeFiles:/app/readmeFiles
    networks:
      # Connect to db-tier network in ops/docker-compose.yml
      - proxy-db-tier

  configure:
    image: rija/docker-alpine-shell-tools:1.0.1
    working_dir: /gigadb/app/tools/readme-generator
    volumes:
      - .:/gigadb/app/tools/readme-generator:delegated
      - ../../configurator:/gigadb/app/configurator:ro
    command: /gigadb/app/tools/readme-generator/configure

networks:
  proxy-db-tier:  # represents db-tier network in ops/docker-compose.yml
    name: ${GIGADB_COMPOSE_PROJECT_NAME}_db-tier
