/index.php
logs
assets
giga_cache
!assets/.gitignore
css/site.css
protected/runtime
protected/config/db.json
protected/config/es.json
protected/config/aws.json
protected/config/local.php
protected/config/main.php
protected/config/console.php
protected/config/keyfile.json
protected/yiic.php
!protected/runtime/.gitignore
protected/data/*.db
protected/scripts/set_env.sh
protected/scripts/update_links.sh
themes/classic/views/
files/certs
images/tempcaptcha/

# PhpStorm
*.iml
*.iws
.idea/

# NetBeans
nbproject/private/
nbproject/project.xml
nbproject/project.properties

# MacOSX
.DS_Store

# Testing
tests/fixtures/affiliate_users_credentials
sql/temp_command.sql
sql/before-run.pgdmp
test_users.txt
.php_cs.cache
phpcs.xml

# Composer
bin
vendor
composer.lock
/composer.json

# deployment
.env
.secrets
.data
vsftpd
tmp
files/html/help.html
features.txt
features.xml
.terraform
terraform.tfstate*
output
*.retry
vault

# docs
docs/apidocs/phpdoc-cache-*
docs/cache
