index.php
logs
assets
giga_cache
!assets/.gitignore
protected/runtime
protected/config/db.json
protected/config/es.json
protected/config/aws.json
protected/config/local.php
protected/config/main.php
protected/yiic.php
!protected/runtime/.gitignore
protected/data/*.db
protected/scripts/set_env.sh
protected/scripts/update_links.sh
themes/classic/views/
files/certs
files/html/help.html
yii-1.1.16

# css
css/site.css
css/bg.gif
css/form.css
css/ie.css
css/main.css
css/print.css
css/screen.css

# Vagrant
*.vagrant
vagrant.log

# Chef
chef/environments/development.json
chef/environments/production.json
**/encrypted_data_bag_secret
chef/nodes/*.json
chef/backup
chef/cache
chef/chef.pid

# PhpStorm
*.iml
*.iws
.idea/

# NetBeans
nbproject/private/
nbproject/project.xml
nbproject/project.properties

# MacOSX
.DS_Store