assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/

# Vagrant
*.vagrant

# Chef
chef/site-cookbooks/gigadb/attributes/default.rb

# PhpStorm
*.iml
*.iws
.idea/

# NetBeans
nbproject/private/
nbproject/project.xml
nbproject/project.properties