[submodule "chef/chef-cookbooks"]
	path = chef/chef-cookbooks
	url = https://github.com/pli888/chef-cookbooks.git
[submodule "yii2-laradock"]
	path = yii2-laradock
	url = https://github.com/pli888/yii2-laradock.git
