stages:
  - build
  - security
  - conformance
  - test
  - deploy

image: docker:stable


# cache:
#   paths:
#     - vendor/

variables:
  # When using dind service we need to instruct docker, to talk with the
  # daemon started inside of the service. The daemon is available with
  # a network connection instead of the default /var/run/docker.sock socket.
  #
  # The 'docker' hostname is the alias of the service container as described at
  # https://docs.gitlab.com/ee/ci/docker/using_docker_images.html#accessing-the-services
  #
  # Note that if you're using Kubernetes executor, the variable should be set to
  # tcp://localhost:2375 because of how Kubernetes executor connects services
  # to the job container
  DOCKER_HOST: tcp://docker:2375/
  # When using dind, it's wise to use the overlayfs driver for
  # improved performance.
  DOCKER_DRIVER: overlay2
  # the configuration script needs to know that we are not in DEV environment anymore
  # so it doesn't try to access
  GIGADB_ENV: CI
  # .env is only for dev, elsewhere we just list the variables here
  APPLICATION: "/builds/$CI_PROJECT_PATH"
  YII_PATH: "/opt/yii-1.1"
  DATA_SAVE_PATH: "/builds/.containers-data/gigadb"
  NGINX_VERSION: "1.15.2"
  PHP_VERSION: "5.6"
  YII_VERSION: "1.1.16"
  POSTGRES_VERSION: "9.4"
  HOME_URL: "gigadb.gigasciencejournal.com"
  PUBLIC_HTTP_PORT: "9170"
  PUBLIC_HTTPS_PORT: "8043"
  COMPOSE_FILE: "ops/deployment/docker-compose.yml:ops/deployment/docker-compose.ci.yml"
  COMPOSE_PROJECT_NAME: ${CI_PROJECT_NAME}

services:
  - docker:dind

before_script:
  - env | grep -v "^DOCKER" | grep -v "^CI"  | grep -v "^GITLAB" | grep -v "==" | grep -E "^[a-zA-Z0-9_]+=.+" | grep -viE "(password|email|tester|secret|key|user|app_id|client_id)" > $APPLICATION/.env
  - env | grep -v "^DOCKER" | grep -v "^CI"  | grep -v "^GITLAB" | grep -v "==" | grep -E "^[a-zA-Z0-9_]+=.+" | grep -iE "(password|email|tester|secret|key|user|app_id|client_id)" > $APPLICATION/.secrets
  - apk add --no-cache py-pip
  - pip install docker-compose
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com


build_webapp:
  stage: build
  script:
    - echo "Building app"
    - docker pull registry.gitlab.com/$CI_PROJECT_PATH/application:latest || true
    - docker pull registry.gitlab.com/$CI_PROJECT_PATH/test:latest || true
    - docker-compose build application
    - docker-compose build test
    - docker tag ${CI_PROJECT_NAME}_application:latest registry.gitlab.com/$CI_PROJECT_PATH/application:latest
    - docker tag ${CI_PROJECT_NAME}_test:latest registry.gitlab.com/$CI_PROJECT_PATH/test:latest
    - docker push registry.gitlab.com/$CI_PROJECT_PATH/application:latest
    - docker push registry.gitlab.com/$CI_PROJECT_PATH/test:latest
  artifacts:
    untracked: true
    when: on_failure
    expire_in: 1 week

run_all_tests:
  stage: test
  cache:
    paths:
      - vendor/
      - bin/
      - composer.lock
  artifacts:
    paths:
      - tmp/
      - protected/runtime/coverage/
      - protected/runtime/application.log
      - protected/runtime/features.html
      - protected/runtime/phpunit-coverage.txt
      - protected/runtime/clover.xml
    when: always
    expire_in: 3 months
  script:
    - docker pull registry.gitlab.com/$CI_PROJECT_PATH/application:latest || true
    - docker pull registry.gitlab.com/$CI_PROJECT_PATH/test:latest || true
    - docker-compose run --rm config
    - docker-compose run --rm webapp
    - docker-compose run test

check_coverage:
  stage: test
  cache:
    paths:
      - protected/runtime/previous_coverage_level.txt
  script:
    - docker-compose run test ./tests/coverage

check_PSR2:
  stage: conformance
  allow_failure: true
  artifacts:
    paths:
      - protected/runtime/phpcs-psr2-source.txt
      - protected/runtime/phpcs-psr2-summary.txt
      - protected/runtime/phpcs-psr2-full.txt
    when: always
    expire_in: 3 months
  script:
    - docker pull registry.gitlab.com/$CI_PROJECT_PATH/application:latest || true
    - docker pull registry.gitlab.com/$CI_PROJECT_PATH/test:latest || true
    - docker-compose run --rm config
    - docker-compose run --rm webapp
    - docker-compose run test ./bin/phpcs --report=source --report-file=protected/runtime/phpcs-psr2-source.txt --report-summary=protected/runtime/phpcs-psr2-summary.txt --report-full=protected/runtime/phpcs-psr2-full.txt --standard=PSR2 --colors protected

check_PHPDoc:
  stage: conformance
  allow_failure: true
  artifacts:
    paths:
      - protected/runtime/phpcs-phpdoc-source.txt
      - protected/runtime/phpcs-phpdoc-summary.txt
      - protected/runtime/phpcs-phpdoc-full.txt
    when: always
    expire_in: 3 months
  script:
    - docker pull registry.gitlab.com/$CI_PROJECT_PATH/application:latest || true
    - docker pull registry.gitlab.com/$CI_PROJECT_PATH/test:latest || true
    - docker-compose run --rm config
    - docker-compose run --rm webapp
    - docker-compose run test ./bin/phpcs --report=source --report-file=protected/runtime/phpcs-phpdoc-source.txt --report-summary=protected/runtime/phpcs-phpdoc-summary.txt --report-full=protected/runtime/phpcs-phpdoc-full.txt --standard=Generic --sniffs=Generic.Commenting.DocComment  --colors protected


check_SAST:
  stage: security
  allow_failure: true
  script:
    - export SP_VERSION=$(echo "$CI_SERVER_VERSION" | sed 's/^\([0-9]*\)\.\([0-9]*\).*/\1-\2-stable/')
    - docker run
        --env SAST_CONFIDENCE_LEVEL="${SAST_CONFIDENCE_LEVEL:-3}"
        --volume "$PWD:/code"
        --volume /var/run/docker.sock:/var/run/docker.sock
        "registry.gitlab.com/gitlab-org/security-products/sast:$SP_VERSION" /app/bin/run /code
  artifacts:
    paths: [gl-sast-report.json]

deploy_staging:
  stage: deploy
  script:
    - echo "The plan is, once this config is on develop branch:"
    - echo "to commit a new container with the source code using 'docker commit'"
    - echo "then push to registry as 'registry.gitlab.com/$CI_PROJECT_PATH/application:new_release' "
    - echo "then we use Terraform to remote deploy to Play-with-docker (free playground, reset every 4 hours)"
    - echo "may be accessible at url like http://gigadb-staging.play-with-docker.com"
  environment:
    name: staging
    url: http://gigadb-staging.play-with-docker.com
  # only:
  #   - develop

deploy_production:
  stage: deploy
  script:
    - echo "The plan is, once this config is on develop branch:"
    - echo "to commit a new container with the source code using 'docker commit'"
    - echo "then push to registry as 'registry.gitlab.com/$CI_PROJECT_PATH/application:new_release' "
    - echo "then we use Terraform to remote deploy to CNGB/AWS/Alyiun"
    - echo "accessible at url like http://gigadb-staging.gigasciencejournal.com"
  environment:
    name: production
    url: http://gigadb.org
  # only:
  #   - develop
  when: manual
