version: '3.7'

services:

  tusd:
    image: rija/tusd
    volumes:
      - "./incoming/tusd:/var/inbox/"
      - ./repo:/var/repo/
      - ./hooks:/var/hooks
    command: -dir /var/inbox -base-path /files/ -hooks-dir /var/hooks
    networks:
      - proto
    ports:
      - target: 1080
        published: 9080
        protocol: tcp
        mode: host

  ftpd:
    image: rija/docker-pure-ftpd
    volumes:
      - "./incoming/ftp:/home/uploader"
      - ./repo:/home/downloader/:ro
      - ./credentials:/var/private
      - ./hooks:/var/scripts
      - ./ftp-transfer-logs:/var/log/pure-ftpd
    environment:
      PUBLICHOST: "localhost"
      ADDED_FLAGS: "-O w3c:/var/log/pure-ftpd/transfer.log"
    command: -l puredb:/etc/pure-ftpd/pureftpd.pdb -E -j -R -P localhost
    networks:
      - proto
    ports:
      - target: 21
        published: 9021
        protocol: tcp
        mode: host
      - "30000-30009:30000-30009"



  watcher:
    image: rija/watchfiles
    volumes:
      - ./inotify-config:/config:ro
      - "./incoming/ftp:/home/uploader"
      - ./repo:/home/downloader/
      - ./hooks:/commands:ro
      - ./credentials:/var/access:ro
      - ./repo/processing_flag:/var/tmp/processing_flag
    networks:
      - proto

  database:
    image: postgres:9.6-alpine
    volumes:
      - ./db_schema.sql:/docker-entrypoint-initdb.d/1-db_schema.sql
    environment:
      POSTGRES_DB: proto
      POSTGRES_USER: proto
      POSTGRES_PASSWORD: proto
    ports:
      - target: 5432
        published: 54321
        protocol: tcp
        mode: host
    networks:
      - proto

  web:
    image: nginx:1.15-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./html:/var/www:ro
    ports:
      - target: 80
        published: 9090
        protocol: tcp
        mode: host
    networks:
      - proto

  app:
    build:
      context: php
      args:
        - PHP_BASE_IMAGE_VERSION=7.2-fpm
        - INSTALL_OPCACHE=true
        - INSTALL_INTL=true
        - INSTALL_COMPOSER=true
        - INSTALL_TIDEWAYS_XHPROF=false
        - INSTALL_LIBSODIUM=true
        - INSTALL_APCU=true
        - INSTALL_DOCKER=true
        - INSTALL_NETCAT_JQ=true
    volumes:
      - ./html:/var/www:ro
      - ./php-conf/php-fpm.ini:/usr/local/etc/php/php.ini
      - ./php-conf/gigadb.pool.conf:/usr/local/etc/php-fpm.d/www.conf
      - ./php-conf/opcache.ini:/usr/local/etc/php/conf.d/opcache.ini
      - ./php-conf/gigadb.ini:/usr/local/etc/php/conf.d/gigadb.ini
      - ./incoming:/var/incoming
      - ./repo:/var/repo
      - ./credentials:/var/private
      - ./scripts:/var/scripts
      - /var/run/docker.sock:/var/run/docker.sock
    expose:
      - "9000"
    networks:
      - proto

networks:
  proto: