default['vsftpd']['config'] = {
  'session_support'             => 'YES',
  'force_dot_files'             => 'NO',
  'hide_ids'                    => 'YES',
  'download_enable'             => 'YES',
  'anonymous_enable'            => 'YES',
  'anon_root'                   => '/var/ftp',
  'anon_world_readable_only'    => 'YES',
  'anon_upload_enable'          => 'NO',
  'anon_mkdir_write_enable'     => 'NO',
  'no_anon_password'            => 'YES',
  'ftp_username'                => 'ftp',
  'local_enable'                => 'YES',
  'local_root'                  => '/var/ftp',
  'user_config_dir'             => node['vsftpd']['etcdir'] + '/users.d',
  'guest_enable'                => 'NO',
  'guest_username'              => 'ftp',
  'write_enable'                => 'YES',
  'local_umask'                 => '022',
  'dirmessage_enable'           => 'YES',
  'message_file'                => '.message',
  'xferlog_enable'              => 'YES',
  'xferlog_file'                => '/var/log/xferlog',
  'xferlog_std_format'          => 'YES',
  'log_ftp_protocol'            => 'YES',
  'connect_from_port_20'        => 'NO',
  'listen_port'                 => '21',
  'chmod_enable'                => 'YES',
  'chown_uploads'               => 'NO',
  'chown_username'              => 'nobody',
  'idle_session_timeout'        => '600',
  'data_connection_timeout'     => '120',
  'nopriv_user'                 => 'nobody',
  'async_abor_enable'           => 'NO',
  'ascii_upload_enable'         => 'NO',
  'ascii_download_enable'       => 'NO',
  'ftpd_banner'                 => 'Welcome to the GigaDB FTP service',
  'banner_file'                 => '',
  'cmds_allowed'                => '',
  'deny_email_enable'           => 'NO',
  'banned_email_file'           => node['vsftpd']['etcdir'] + '/banned_emails',
  'userlist_enable'             => 'YES',
  'userlist_deny'               => 'YES',
  'userlist_file'               => node['vsftpd']['etcdir'] + '/vsftpd.user_list',
  'chroot_local_user'           => 'YES',
  'chroot_list_enable'          => 'NO',
  'chroot_list_file'            => node['vsftpd']['etcdir'] + '/vsftpd.chroot_list',
  'ls_recurse_enable'           => 'NO',
  'listen'                      => 'YES',
  'listen_address'              => '127.0.0.1',
  'listen_ipv6'                 => 'NO',
  'listen_address6'             => '',
  'pasv_enable'                 => 'YES',
  'pasv_address'                => '127.0.0.1',
  'pasv_max_port'               => '11000',
  'pasv_min_port'               => '11010',
  'port_enable'                 => 'YES',
  'pam_service_name'            => 'vsftpd',
  'tcp_wrappers'                => 'YES',
  'anon_max_rate'               => '48000',
  'local_max_rate'              => '0',
  'max_clients'                 => '2',
  'max_per_ip'                  => '2',
  'ssl_enable'                  => node['vsftpd']['ssl']['enabled'] ? 'YES' : 'NO',
  'allow_anon_ssl'              => node['vsftpd']['ssl']['allow_anon'] ? 'YES' : 'NO',
  'force_local_data_ssl'        => node['vsftpd']['ssl']['force_local_data'] ? 'YES' : 'NO',
  'force_local_logins_ssl'      => node['vsftpd']['ssl']['force_local_logins'] ? 'YES' : 'NO',
  'ssl_tlsv1'                   => node['vsftpd']['ssl']['tslv1_enabled'] ? 'YES' : 'NO',
  'ssl_sslv2'                   => node['vsftpd']['ssl']['sslv2_enabled'] ? 'YES' : 'NO',
  'ssl_sslv3'                   => node['vsftpd']['ssl']['sslv3_enabled'] ? 'YES' : 'NO',
  'rsa_cert_file'               => node['vsftpd']['ssl']['cert']['public_cert_file'],
  'rsa_private_key_file'        => node['vsftpd']['ssl']['key']['private_key_file']
}
