[mount]
type = s3
env_auth = false
provider = {{ rclone_mount_provider }}
access_key_id = {{ rclone_mount_access_key_id }}
secret_access_key = {{ rclone_mount_secret_access_key }}
endpoint = {{ rclone_mount_endpoint }}
