[aws]
type = s3
provider = AWS
access_key_id = {{ aws_access_key_id }}
secret_access_key = {{ aws_secret_access_key }}
region = ap-east-1
location_constraint = ap-east-1

[hk_efs]
type = sftp
host = {{ hk_live_remote_bastion_public_ip }}
user = centos
key_file = /home/ec2-user/.ssh/id-rsa-aws-hk-gigadb
shell_type = unix

[wasabi]
type = s3
env_auth = false
provider = {{ rclone_mount_provider }}
access_key_id = {{ rclone_mount_access_key_id }}
secret_access_key = {{ rclone_mount_secret_access_key }}
endpoint = {{ rclone_mount_endpoint }}

[box]
type = sftp
host = {{ hetzner_storage_box_hostname }}
user = {{ hetzner_storage_box_user }}
port = 23
key_file = /home/ec2-user/.ssh/id-rsa-hetzner-helsinki
shell_type = unix