### GitLab Private Token  ######################################################
# This token allows access to the secret variables stored on GitLab.com for 
# logins, passwords, api keys and secrets required by the project. If you don't 
# have one, generate from your user account setting on Gitlab.com.

#GITLAB_PRIVATE_TOKEN=

### GitLab API URLs  ###########################################################
# The urls can be different for each environment and forks. Group variables are 
# supplied by Gigadb and set at group level (gigascience, forks and upstream) in
# GitLab. Project variables are set at a project level by the owner of the fork.
# The variables will be merged into a .secrets file.
# Replace <Your fork name here> with url-encoded name of the fork

REPO_NAME= <Your fork name here>
CI_PROJECT_URL="https://gitlab.com/api/v4/projects/gigascience/forks/$REPO_NAME/"
GROUP_VARIABLES_URL="https://gitlab.com/api/v4/groups/gigascience/variables?per_page=100"
FORK_VARIABLES_URL="https://gitlab.com/api/v4/groups/3501869/variables"
PROJECT_VARIABLES_URL="https://gitlab.com/api/v4/projects/gigascience%2Fforks%2F$REPO_NAME/variables"
MISC_VARIABLES_URL="https://gitlab.com/api/v4/projects/gigascience%2Fcnhk-infra/variables"

GIGADB_ENV=dev

