tusd_endpoint=http://fuw-proto-dev.pommetab.com:9170/files/
ftpd_endpoint=localhost
ftpd_port = 9021
web_endpoint=http://fuw-proto-dev.pommetab.com:9170/
api_endpoint=http://fuw-admin-api/filedrop-accounts
db_user = proto
db_password = proto
db_source = fuwdb
db_host = proto
dummy_jwt_token = $om3dummy4tr1n95