/* login */
.login-container {
  background-color: @color-lighter-gray;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .form-control {
    height: 36px;
  }
  .control-label {
    padding-right: 12px;
  }
  .login-divider {
    margin: 10px 0 20px 0;
  }
  .login-button-container {
    display: flex;
    justify-content: center;
    .login-button {
      min-width: 236px;
    }
  }
  a {
    color: @gigadb-green-on-lighter-gray;
    &:hover {
      color: @color-gigadb-green-900;
    }
  }
}
.login-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 32px;
}
