# needed by excel-spreadsheet-uploader
PGDATABASE={{ pg_database }}
PGHOST={{ pg_host }}
PGPORT={{ pg_port }}
PGUSER={{ pg_user }}
PGPASSWORD={{ pg_password }}
# needed by files-url-updater
DB_PG_PASSWORD={{ pg_password }}
DB_PG_USER={{ pg_user }}
DB_PG_HOST={{ pg_host }}
DB_PG_DATABASE={{ pg_database }}
GIGADB_ENVIRONMENT={{ gigadb_environment }}
GITLAB_PROJECT_STRING={{ gitlab_project_string }}
