DOCKERHOST_PUBLIC_IP={{ ec2_public_ip }}
DOCKERHOST_PRIVATE_IP={{ ec2_private_ip }}
<?php

return [
    'db' => [
        "host" => "{{ ec2_private_ip }}",
        "port" => "6543",
        "database" => "gigadb",
        "test_database" => "gigadb_test",
        "username" => "gigadb",
        "password" => "",
    ],
    'ftp' => [
        "host" => "{{ ftp_hostname | json_query('json.value') }}",
        "username" => "{{ ftp_username | json_query('json.value') }}",
        "password" => "{{ ftp_password | json_query('json.value') }}",
    ],
];

