[production-staging]
type = sftp
host = bastion-stg.gigadb.host
user = centos
key_file = config/id-rsa-aws-hk-gigadb.pem
shell_type = unix
md5sum_command = md5sum
sha1sum_command = sha1sum

[production-live]
type = sftp
host = bastion.gigadb.host
user = centos
key_file = config/id-rsa-aws-hk-gigadb.pem
shell_type = unix
md5sum_command = md5sum
sha1sum_command = sha1sum