[wasabi-transfer]
aws_access_key_id = {{ credentials.list.0["Access Key Id"] }}
aws_secret_access_key = {{ credentials.list.0["Secret Access Key"] }}

[aws-transfer]
aws_access_key_id = {{ gigadb_datasetfiles_aws_access_key_id }}
aws_secret_access_key = {{ gigadb_datasetfiles_aws_secret_access_key }}
