[aws_metadata]
type = s3
provider = AWS
env_auth = true
shared_credentials_file = /etc/aws/credentials
region = ap-northeast-1
location_constraint = ap-northeast-1
acl = private
no_check_bucket = true

[wasabi_{{ credentials.list.0["User Name"] }}]
type = s3
env_auth = true
region = ap-northeast-1
endpoint = s3.ap-northeast-1.wasabisys.com
location_constraint =
acl = public-read
server_side_encryption =
storage_class =
provider = Other
no_check_bucket = true

[gigadb-datasetfiles]
type = s3
provider = AWS
access_key_id = {{ gigadb_datasetfiles_aws_access_key_id}}
secret_access_key = {{ gigadb_datasetfiles_aws_secret_access_key }}
env_auth = false
region = ap-east-1
location_constraint = ap-east-1
storage_class = GLACIER
