{
  "name": "development",
  "default_attributes": {
    "gigadb": {
      "db": {
        "sql_script": "/vagrant/sql/gigadb_testdata.sql"
      }
    }
  },
  "json_class": "Chef::Environment",
  "description": "Test environment for deploying onto local Vagrant VMs",
  "chef_type": "environment"
}