{
  "name": "development",
  "default_attributes": {
    "gigadb": {
      "db": {
        "sql_script": "/vagrant/sql/gigadb_testdata.sql",
        "backup_folder": "/vagrant/db_backups/",
        "user": "gigadb",
        "password": "vagrant",
        "host": "localhost",
        "port": "5432",
        "database": "gigadb",
        "server_names": ["localhost"]
      },
      "ftp": {
        "connection_url": "ftp://anonymous:anonymous@10.1.1.33:21"
      },
      "site_dir": "/vagrant",
      "root_dir": "/vagrant",
      "log_dir": "/vagrant/logs",
      "yii_path": "/opt/yii-1.1.10/framework/yii.php",
      "app_user": "gigadb",
      "admin_email": "database@gigasciencejournal.com",
      "users": ["", "", ""],
      "user1": "",
      "user1_name": "",
      "user1_public_key": "",
      "user1_group": "gigadb-admin",
      "user2": "",
      "user2_name": "",
      "user2_public_key": "",
      "user2_group": "gigadb-admin",
      "user3": "",
      "user3_name": "",
      "user3_public_key": "",
      "user3_group": "gigadb-admin",
      "admin_user": "",
      "admin_user_name": "",
      "admin_user_public_key": "",
      "admin_user_group": "gigadb-admin",
      "mailchimp": {
        "mailchimp_api_key": "",
        "mailchimp_list_id": ""
      },
      "analytics": {
        "analytics_client_email": "",
        "analytics_client_id": "",
        "analytics_keyfile_path": "",
        "google_analytics_profile": ""
      },
      "recaptcha": {
        "recaptcha_publickey": "",
        "recaptcha_privatekey": ""
      },
      "facebook": {
        "app_id": "",
        "app_secret": ""
      },
      "linkedin": {
        "api_key": "",
        "secret_key": ""
      },
      "google": {
        "client_id": "",
        "client_secret": ""
      },
      "twitter": {
        "key": "",
        "secret": ""
      },
      "orcid": {
        "client_id": "",
        "client_secret": ""
      },
      "python": {
        "build_dir": "/home/gigadb/build",
        "virtualenv": "/home/gigadb/.virtualenvs/gigadb",
        "packages": [
          "biopython",
          "beautifulsoup4"
        ],
        "schemup": {
          "version": "07905e6948273fc4393f5155999bce2e012dcfa8"
        }
      }
    },
    "aws": {
      "aws_access_key_id": "",
      "aws_secret_access_key": "",
      "aws_default_region": "ap-southeast-1",
      "aws_security_groups": "",
      "s3_bucket_for_file_bundles": "",
      "s3_bucket_for_file_previews": ""
    },
    "fileserver": {
      "db": {
        "sql_script": "/tmp/ftpusers_testdata.sql",
        "user": "gigadb",
        "password": "vagrant",
        "host": "localhost",
        "port": "5432",
        "database": "ftpusers"
      },
      "mount_point": "/mnt/chef",
      "device": "/opt/chef"
    },
    "vsftpd": {
	  "allowed": ["vagrant"]
	},
    "nginx": {
      "log_dir": "/var/log/nginx"
    },
    "postgresql": {
      "version": "9.1",
      "repo_version": "9.1"
    },
    "iptables": {
      "iptables_sysconfig": {
        "IPTABLES_SAVE_ON_STOP": "yes"
      }
    },
    "ssh": {
      "enable_password": "no"
    },
    "beanstalkd": {
      "opts": "-b"
    },
    "supervisor": {
      "programs": [
          {
            "name":"bundlefiles",
            "command":"/usr/bin/php /vagrant/protected/yiic bundlefiles",
            "numprocs": "1",
            "directory":"/vagrant/protected",
            "autostart": "true",
            "autorestart": "true",
            "log_stdout": "true",
            "log_stderr": "true",
            "logfile": "/var/log/bundlefiles.log",
            "logfile_maxbytes": "100MB"
          },
          {
            "name":"uploadbundle",
            "command":"/usr/bin/php /vagrant/protected/yiic uploadbundle",
            "numprocs": "1",
            "directory":"/vagrant/protected",
            "autostart": "true",
            "autorestart": "true",
            "log_stdout": "true",
            "log_stderr": "true",
            "logfile": "/var/log/uploadbundle.log",
            "logfile_maxbytes": "100MB"
          }
      ]
    }
  },
  "json_class": "Chef::Environment",
  "description": "Test environment for deploying onto local Vagrant VMs",
  "chef_type": "environment"
}
