{
  "name": "fileserver_test",
  "default_attributes": {
    "fileserver": {
      "db": {
        "sql_script": "/vagrant/sql/ftpusers_testdata.sql",
        "user": "gigadb",
        "password": "vagrant",
        "host": "localhost",
        "port": "5432",
        "database": "ftpusers"
      },
      "mount_point": "",
      "device": ""
      "users": [ ],
      "admin_user": "",
      "admin_user_name": "",
      "admin_user_public_key": "",
      "admin_user_group": "",
      "user1": "",
      "user1_name": "",
      "user1_public_key": "",
      "user2": "",
      "user2_name": "",
      "user2_public_key": "",
    }
  },
  "json_class": "Chef::Environment",
  "description": "Test environment for deploying GigaDB's FTP file server",
  "chef_type": "environment"
}