{
  "name": "fileserver_test",
  "default_attributes": {
    "fileserver": {
      "db": {
        "sql_script": "/vagrant/sql/ftpusers_testdata.sql",
        "user": "gigadb",
        "password": "vagrant",
        "host": "localhost",
        "port": "5432",
        "database": "ftpusers"
      }
    }
  },
  "json_class": "Chef::Environment",
  "description": "Test environment for deploying GigaDB's FTP file server",
  "chef_type": "environment"
}