{
  "name": "aws_test",
  "default_attributes": {
    "gigadb": {
      "site_dir": "/vagrant",
      "users": ["", "", ""],
		"user1": "",
		"user1_name": "",
		"user1_public_key": "",
		"user1_group": "gigadb-admin",
		"user2": "",
		"user2_name": "",
		"user2_public_key": "",
		"user2_group": "gigadb-admin",
		"user3": "",
		"user3_name": "",
		"user3_public_key": "",
		"user3_group": "gigadb-admin",
		"db": {
		  "backup_folder": "/vagrant/db_backups/"
		}
    },
  "aws": {
	  "aws_access_key_id": "",
	  "aws_secret_access_key": "",
	  "aws_default_region": "ap-southeast-1",
	  "aws_security_groups": ""
	},
    "nginx": {
      "log_dir": "/var/log/nginx"
    }
  },
  "json_class": "Chef::Environment",
  "description": "Test environment for deploying on servers using only Chef-Solo",
  "chef_type": "environment"
}