<?php

return [
    'URL_PREFIX' => '${URL_PREFIX}',
    'DEPLOYMENT_ENV' => '${DEPLOYMENT_ENV}',
    'DB_BACKUP_HOST' => '${DB_BACKUP_HOST}',
    'DB_BACKUP_PASSWORD' => '${DB_BACKUP_PASSWORD}',
    'DB_BACKUP_USERNAME' => '${DB_BACKUP_USERNAME}',
];
