default[:gigadb][:user1] = 'user1'
default[:gigadb][:user1_name] = 'user1_name'
default[:gigadb][:user1_public_key] = 'user1_public_key'
default[:gigadb][:user2] = 'user2'
default[:gigadb][:user2_name] = 'user2_name'
default[:gigadb][:user2_public_key] = 'user2_public_key'
default[:gigadb][:user3] = 'user3'
default[:gigadb][:user3_name] = 'user3_name'
default[:gigadb][:user3_public_key] = 'user3_public_key'