version: '3.7'

services:

  production_web:
    environment:
      YII_PATH: ${YII_PATH}
      YII2_PATH: ${YII2_PATH}
    build:
      context: ../..
      dockerfile: ops/packaging/Production-Web-Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_web:latest"
      args:
        - NGINX_VERSION=${NGINX_VERSION}
        - GIGADB_ENV=${GIGADB_ENV}
        - FIX_SITE_CONFIGS=true

  production_app:
    build:
      context: ../..
      dockerfile: ops/packaging/Production-Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_app:latest"
      args:
        - TARGET_PHP_VERSION=7.1
        - INSTALL_OPCACHE=true
        - INSTALL_INTL=true
        - INSTALL_COMPOSER=false
        - INSTALL_TIDEWAYS_XHPROF=false
        - INSTALL_LIBSODIUM=true
        - INSTALL_APCU=true
    volumes:
      - ../../assets:/var/www/assets

  production_fuw-base:
    build:
      context: ../../fuw/app/common
      dockerfile: Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_fuw-base:latest"
      args:
        - APPLICATION=fuw/app/backend
        - PHP_BASE_IMAGE_VERSION=7.2-fpm-stretch
        - APP_PORT=9002
        - INSTALL_OPCACHE=true
        - INSTALL_INTL=true
        - INSTALL_COMPOSER=true
        - INSTALL_TIDEWAYS_XHPROF=false
        - INSTALL_LIBSODIUM=false
        - INSTALL_APCU=true
        - INSTALL_DOCKER_API_ACCESS=false

  production_fuw-console:
    build:
      context: ../../fuw/app
      dockerfile: common/Production-Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_fuw-console:latest"
      args:
        - IMAGE_NAME=registry.gitlab.com/$CI_PROJECT_PATH/production_fuw-base
        - APP_PORT=9001

  production_fuw-admin:
    build:
      context: ../../fuw/app
      dockerfile: common/Production-Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_fuw-admin:latest"
      args:
        - IMAGE_NAME=registry.gitlab.com/$CI_PROJECT_PATH/production_fuw-base
        - APP_PORT=9002
        - APP_ROOT_DIR=/var/fuw/backend/web/
    expose:
      - "9002"

  production_fuw-proto:
    build:
      context: ../../fuw/app
      dockerfile: common/Production-Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_fuw-proto:latest"
      args:
        - IMAGE_NAME=registry.gitlab.com/$CI_PROJECT_PATH/production_fuw-base
        - APP_PORT=9003
        - APP_ROOT_DIR=/var/fuw/app/proto/
    expose:
      - "9003"

  production_ftpd:
    build:
      context: ../../fuw/docker-pure-ftpd
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_ftpd:latest"

  production_watcher:
    build:
      context: ../../fuw/watcher
      dockerfile: Production-Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_watcher:latest"

  production_tusd:
    build:
      context: ../../fuw/tusd
      dockerfile: Production-Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_tusd:latest"

  production_config:
    build:
      context: ../..
      dockerfile: ops/packaging/Config-Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_config:latest"
