version: '3.7'

services:

  less:
    image: registry.gitlab.com/$CI_PROJECT_PATH/application:latest

  application:
    build:
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/application:latest"

  test:
    build:
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/test:latest"

  fuw-admin:
    build:
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/fuw-admin:latest"

  fuw-proto:
    build:
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/fuw-proto:latest"

  ftpd:
    build:
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/ftpd:latest"


  watcher:
    build:
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/watcher:latest"

  console:
    build:
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/console:latest"

  config:
    environment:
      ANALYTICS_PRIVATE_KEY: ${ANALYTICS_PRIVATE_KEY}

  web:
    build:
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/web:latest"
    command: ["/usr/local/bin/enable_sites", "gigadb.CI.http", "fuw-backend.CI.http", "fuw-frontend.CI.http"]
