version: '3.7'

services:

  less:
    image: registry.gitlab.com/$CI_PROJECT_PATH/application:latest

  application:
    build:
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/application:latest"

  test:
    build:
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/test:latest"

  fuw-admin:
    environment:
      DOCKER_HOST: ${REMOTE_DOCKER_HOSTNAME}    
    build:
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/fuw-admin:latest"

  fuw-public:
    build:
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/fuw-public:latest"

  beanstalkd:
    build:
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/beanstalkd:latest"

  gigadb-worker:
    build:
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/gigadb-worker:latest"

  fuw-worker:
    build:
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/fuw-worker:latest"

  ftpd:
    build:
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/ftpd:latest"


  watcher:
    build:
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/watcher:latest"

  tusd:
    build:
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/tusd:latest"

  console:
    environment:
      DOCKER_HOST: ${REMOTE_DOCKER_HOSTNAME}    
    build:
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/console:latest"

  config:
    environment:
      ANALYTICS_PRIVATE_KEY: ${ANALYTICS_PRIVATE_KEY}

  web:
    build:
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/web:latest"
    command: ["/usr/local/bin/enable_sites", "gigadb.CI.http", "fuw-backend.CI.http", "fuw-frontend.CI.http"]
