version: '3.7'

services:

  less:
    image: registry.gitlab.com/$CI_PROJECT_PATH/application:latest

  production_web:
    environment:
      YII_PATH: ${YII_PATH}
      YII2_PATH: ${YII2_PATH}
    build:
      context: ../..
      dockerfile: ops/packaging/Production-Web-Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_web:${GIGADB_ENV}"
      args:
        - NGINX_VERSION=${NGINX_VERSION}
        - GIGADB_ENV=${GIGADB_ENV}
        - FIX_SITE_CONFIGS=true

  production_app:
    environment:
      PHP_VERSION: ${PHP_VERSION}
      TIDEWAYS_APIKEY: ${TIDEWAYS_APIKEY}
      TIDEWAYS_SERVICE: $CI_PROJECT_PATH
      TIDEWAYS_SAMPLERATE: 25
      TIDEWAYS_CONNECTION: tcp://tideways-daemon:9135
    build:
      context: ../..
      dockerfile: ops/packaging/Production-Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_app:${GIGADB_ENV}"
      args:
        - TARGET_PHP_VERSION=${PHP_VERSION}
        - APCU_SHM_SIZE=${PHP_APCU_MEMORY}
        - INSTALL_OPCACHE=true
        - INSTALL_INTL=true
        - INSTALL_COMPOSER=false
        - INSTALL_TIDEWAYS_XHPROF=false
        - INSTALL_LIBSODIUM=false
        - INSTALL_APCU=true
        - APCU_VERSION=$APCU_VERSION
        - INSTALL_TIDEWAYSPHP=true

  production_tideways-daemon:
    environment:
      TIDEWAYS_ENVIRONMENT: $GIGADB_ENV
    build:
      context: ../..
      dockerfile: ops/packaging/Tideways-Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_tideways-daemon:${GIGADB_ENV}"
    expose:
      - "9135"


  production_gigadb-worker:
    build:
      context: ../..
      dockerfile: ops/packaging/Production-Worker-Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_gigadb-worker:${GIGADB_ENV}"
      args:
        - PHP_BASE_IMAGE_VERSION=$PHP_VERSION-cli-buster
        - INSTALL_NETCAT_JQ=true
        - INSTALL_IPROUTE2=true

  production_fuw-console:
    build:
      context: ../..
      dockerfile: fuw/app/common/Production-Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_fuw-console:${GIGADB_ENV}"
      args:
        - PHP_BASE_IMAGE_VERSION=$PHP_VERSION-fpm-buster
        - APP_PORT=9001
        - INSTALL_NETCAT_JQ=true
        - INSTALL_IPROUTE2=true
        - INSTALL_PG_CLIENT=true

  production_fuw-admin:
    build:
      context: ../..
      dockerfile: fuw/app/common/Production-Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_fuw-admin:${GIGADB_ENV}"
      args:
        - PHP_BASE_IMAGE_VERSION=$PHP_VERSION-fpm-buster
        - APP_PORT=9002
        - INSTALL_NETCAT_JQ=true
        - INSTALL_IPROUTE2=true
    expose:
      - "9002"

  production_fuw-worker:
    build:
      context: ../../fuw/app
      dockerfile: console/Production-Worker-Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_fuw-worker:${GIGADB_ENV}"
      args:
        - PHP_BASE_IMAGE_VERSION=$PHP_VERSION-cli-buster
        - INSTALL_NETCAT_JQ=true
        - INSTALL_IPROUTE2=true

  production_fuw-public:
    build:
      context: ../..
      dockerfile: fuw/app/common/Production-Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_fuw-public:${GIGADB_ENV}"
      args:
        - PHP_BASE_IMAGE_VERSION=$PHP_VERSION-fpm-buster
        - APP_PORT=9001
        - INSTALL_NETCAT_JQ=true
        - INSTALL_IPROUTE2=true
    expose:
      - "9001"

  production_beanstalkd:
    build:
      context: .
      dockerfile: ../packaging/Beanstalkd-Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_beanstalkd:${GIGADB_ENV}"
    expose:
      - "11300"

  production_ftpd:
    build:
      context: ../../fuw/docker-pure-ftpd
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_ftpd:${GIGADB_ENV}"

  production_watcher:
    build:
      context: ../../fuw
      dockerfile: watcher/Production-Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_watcher:${GIGADB_ENV}"

  production_tusd:
    build:
      context: ../..
      dockerfile: ./fuw/tusd/Production-Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_tusd:${GIGADB_ENV}"

  production_config:
    build:
      context: ../..
      dockerfile: ops/packaging/Config-Dockerfile
      cache_from:
        - "registry.gitlab.com/$CI_PROJECT_PATH/production_config:${GIGADB_ENV}"
