table.dataTable thead {
  th[class*="sorting"] {
    @inline-padding: 15px;
    padding-right: @inline-padding + 12 !important;
    padding-left: @inline-padding!important;
    &:after {
      color: @color-gigadb-green-800;
      content: "♢";
      display: block;
      font-family: inherit;
      opacity: 1;
    }
    &[aria-sort="ascending"]:after {
      content: "▲";
    }
    &[aria-sort="descending"]:after {
      content: "▼";
    }
  }
}

#files, #sample {
  width:100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.tab-content {
  overflow: hidden;
}

.dataset-files-table {
  .filename-column {
    width: 12%;
  }

  .description-column {
    width: 30%;
    min-width: 20ch;
  }

  .sample-id-column {
    width: 10%;
  }

  .data-type-column {
    width: 10%;
  }

  .file-format-column {
    width: 10%;
  }

  .size-column {
    width: 10%;
  }

  .release-date-column {
    width: 10%;
  }

  .attributes-column {
    width: 15%;
  }

  .download-column {
    width: 60px;
    max-width: 75px;
  }
}