.dataset-feed-section {
  .dataset-item {
    .dataset-doi {
      font-size: 14px;
      color: @color-darker-gray;
      margin-bottom: 10px;
    }

    .dataset-title {
      margin: 0 0 10px 0;
      line-height: 1.4;
      color: @color-warm-black;
    }

    .dataset-date {
      font-size: 14px;
      color: @color-darker-gray;
    }
  }
}
