.dataset-feed-section {
  .carousel-block {
    height: 460px;
  }
  .dataset-item {
    .dataset-image-wrapper {
      width: 100%;
      padding-bottom: 100%;
      position: relative;
      background-color: @color-lighter-gray;
      margin-bottom: 15px;

      .dataset-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .dataset-doi {
      font-size: 14px;
      color: @color-darker-gray;
      margin-bottom: 10px;
    }

    .dataset-title {
      margin: 0 0 10px 0;
      line-height: 1.4;
      color: @color-warm-black;
    }

    .dataset-date {
      font-size: 14px;
      color: @color-darker-gray;
    }
  }
  @media (min-width: 768px) {
    .carousel-block {
      height: 500px;
    }
  }

  @media (min-width: 992px) {
    .carousel-block {
      height: 460px;
    }
  }
}

