.font-selector {
  position: fixed;
  bottom: 10px;
  left: 10px;

  .btn {
    padding: 6px 10px;
    font-size: 16px;
    width: 55px;
    height: 45px;
    font-size: 18px;
    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.1),
      0 4px 8px rgba(0, 0, 0, 0.05),
      0 8px 16px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease;

    &:hover {
      transform: translateY(-1px);
      box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.15),
        0 8px 16px rgba(0, 0, 0, 0.1),
        0 16px 32px rgba(0, 0, 0, 0.05);
    }
  }
}
