.model-selector {
  width: 450px;
  margin-bottom: 20px;
}

.model-viewer-container {
  position: relative;
  isolation: isolate;
  height: min-content;
  width: min-content;
}

.model-view-container {
  width: 992px;
  height: 512px;
  background-color: @color-lighter-gray;
  display: block;
}

// controls info

.controls-info {
  position: absolute;
  background: #000000cc;
  color: @color-true-white;
  top: 0;
  left: 0;
  padding: 6px 12px;
}

.controls-info p {
  margin: 0;
  color: @color-true-white;
}

// play button

.play-button-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.play-button {
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.5);
  color: @color-true-white;
  border: none;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;
}

.play-button:hover {
  transform: scale(1.1);
  background: @color-gigadb-green;
}

.play-button-icon {
  font-size: 70px;
  position: relative;
  /* make button look visually centered */
  left: 6px;
}

// loading overlay

.loading-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
}

.loading-overlay.active {
  display: flex;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 8px solid @color-gigadb-green;
  border-top: 5px solid @color-true-white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  font-size: 16px;
  color: @color-warm-black;
}

// error display

.error-display {
  max-width: 100%;
  position: absolute;
  inset-inline: 12px;
  bottom: 12px;
  margin: 0;
}
