//
// Tables.less
// Tables for, you guessed it, tabular data
// ----------------------------------------

table.table th,
table.table td {
  vertical-align: middle;
}
table.table td {
  color: @color-darker-gray;
}
table.table a {
  text-decoration: none;
  color: @gigadb-green-on-lighter-gray;
}

.table > thead > tr > th {
  text-align: center;
  font-weight: normal;
  border-bottom: 0px;
  background-color: @color-lighter-gray;
}

.new-upload-table {
  margin: 0px;
}
.new-upload-table > tbody > tr > td {
  border-top: 0px;
  padding: 0px;
}
table.submitted-table > thead > tr > th {
  white-space: nowrap;
}
table.submitted-table > thead > tr > th,
table.submitted-table > tbody > tr > td,
table.saved-table > thead > tr > th,
table.saved-table > tbody > tr > td {
  padding: 10px 13px;
  vertical-align: middle;
  line-height: 20px;
}
table.submitted-table > tbody > tr > td:nth-child(1),
table.submitted-table > tbody > tr > td:nth-child(4),
table.submitted-table > tbody > tr > td:nth-child(5),
table.submitted-table > tbody > tr > td:nth-child(6),
table.submitted-table > tbody > tr > td:nth-child(7),
table.submitted-table > tbody > tr > td:nth-child(8),
table.submitted-table > tbody > tr > td:nth-child(9) {
  text-align: center;
  white-space: nowrap;
}
table.submitted-table > tbody > tr > td:nth-child(9) > a {
  font-size: 14px;
}
table.submitted-table > tbody > tr > td:nth-child(9) > a:first-child {
  margin-right: 15px;
}
.member-table > tbody > tr > td {
  width: 25%;
  border: 0px;
  .thumbnail {
    background-color: @color-lighter-gray;
  }
  .member-role {
    color: @color-darker-gray;
  }
}

.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
.span8 {
  width: 620px;
}
.span9 {
  width: 700px;
}
.offset3 {
  margin-left: 260px;
}
.guide-table {
  border: 1px solid @color-dark-gray;
  width: 1138px;
  text-align: center;
  th {
    background-color: @color-light-gray;
    color: @color-warm-black;
  }
  th,
  td {
    padding: 5px;
    line-height: 2;
  }
  thead > tr {
    th {
      text-align: center;
      &.col-10 {
        width: 10%;
      }
      &.col-12-5 {
        width: 12.5%;
      }
      &.col-20 {
        width: 20%;
      }
      &.col-30 {
        width: 30%;
      }
      &.col-40 {
        width: 40%;
      }
      &.col-50 {
        width: 50%;
      }
      &.col-60 {
        width: 60%;
      }
      &.col-70 {
        width: 70%;
      }
      &.col-80 {
        width: 80%;
      }
      &.col-90 {
        width: 90%;
      }
    }
  }
}
table.dataset-view-table > tbody > tr {
  &.odd {
    background-color: @color-lighter-gray;
  }
  th,
  td {
    padding-inline: 16px;
    color: @warm-black-on-lighter-gray;
  }
  th {
    min-width: 200px;
    width: 1%;
    white-space: nowrap;
    text-align: right;
  }
  td .null {
    font-style: italic;
    color: @gray-on-lighter-gray;
  }
}

.button-column {
  min-width: 100px;
  .icon-wrapper {
    display: flex;
    justify-content: center;
  }
  .icon {
    transition: transform 0.2s;
    padding: 2px;
    border-radius: 3px;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px @color-gigadb-green-600;
    }
    display: inline-block;
    margin-inline: 2px;
    margin-bottom: 6px;
    &:hover {
      transform: scale(1.2);
    }
  }
  .icon-view,
  .icon-update,
  .icon-dropbox,
  .icon-download,
  .icon-merge,
  .icon-manage,
  .icon-link {
    color: @color-gigadb-green-600!important;
  }
  .icon-delete {
    color: @color-brand-danger-400!important;
  }
}

.grid-view {
  table {
    th {
      .sort-link.desc {
        &:after {
          content: "▼";
        }
      }
      .sort-link.asc {
        &:after {
          content: "▲";
        }
      }
      .sort-link:not(.asc):not(.desc) {
        &:after {
          content: "♢";
        }
      }
    }
    .sort-link {
      display: block;
      width: 100%;
    }
  }
}

.dataset-table-wide-container {
  overflow-x: auto;
  .dataset-table-wide {
    margin-bottom: 0;
  }
  margin-bottom: 20px;
}

.table-attr {
  width: 100%;
  thead > tr > th {
    text-align: left;
  }
  td {
    text-align: left;
  }
}

.table-footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1200px) {
  .table-footer {
    margin-top: 5px;
  }
}
