.user-profile-box {
  .btns-row > * {
    min-width: 100px;
  }
}

@media (max-width: @screen-sm-max) {
  .user-profile-box {
    .btns-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
