<?php

return [
    'class' => 'yii\db\Connection',
    'dsn' => "pgsql:host=${GIGADB_HOST};dbname=${GIGADB_DB};port=5432",
    'username' => "${GIGADB_USER}",
    'password' => "${GIGADB_PASSWORD}",
    'charset' => 'utf8',
];
