### prefix for local container ##############################################################################
COMPOSE_PROJECT_NAME=readme

### TO CONFIGURE PROXY NETWORK TO MAIN GIGADB DOCKER NETWORK ################################################
GIGADB_COMPOSE_PROJECT_NAME=deployment

### GitLab Private Token  ###############################################################################################
# This token allows access to the secret variables stored on GitLab.com for logins, passwords, api keys and secrets
# required by the project. If you don't have one, generate from your user account setting on Gitlab.com.

#GITLAB_PRIVATE_TOKEN=

### GitLab API URLs  ####################################################################################################
# the urls be different for each environment and forks.
# group variables are supplied by Gigadb and set at group level (gigascience, forks and upstream) in GitLab.
# project variables are set at a project level by the owner of the fork
# the variables will be merged into a .secrets file
# Replace <Your fork name here> with urlencoded name of the fork

REPO_NAME="<Your fork name here>"
CI_PROJECT_URL="https://gitlab.com/api/v4/projects/gigascience/forks/$REPO_NAME/"
GROUP_VARIABLES_URL="https://gitlab.com/api/v4/groups/gigascience/variables?per_page=100"
FORK_VARIABLES_URL="https://gitlab.com/api/v4/groups/3501869/variables"
PROJECT_VARIABLES_URL="https://gitlab.com/api/v4/projects/gigascience%2Fforks%2F$REPO_NAME/variables"
MISC_VARIABLES_URL="https://gitlab.com/api/v4/projects/gigascience%2Fcnhk-infra/variables"

GIGADB_ENV=dev

# Default Database parameters

POSTGRES_MAJOR_VERSION=12

### Application, Framework and Data Path #################################################################################
# Choose storage path on your machine. For all storage systems.

APPLICATION=../../gigadb/app/tools/readme-generator
YII_PATH=/var/www/vendor/yiisoft/yii
YII2_PATH=/var/www/vendor/yiisoft/yii2
DATA_SAVE_PATH=~/.containers-data/default-gigadb
YII_DEBUG=true
YII_TRACE=3
DISABLE_CACHE=true

### Core services managed in Docker compose ##############################################################################
NGINX_VERSION=1.21.3
PHP_VERSION=7.3.33
APCU_VERSION=5.1.21
NODE_VERSION=17.6.0
POSTGRES_VERSION=14.8
YII_VERSION=1.1.28
YII2_VERSION=2.0.48
