<phpunit colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="false"
		convertWarningsToExceptions="false"
		stopOnFailure="false">

	<testsuites>
	  <testsuite name="unit">
	    <directory>unit</directory>
	  </testsuite>
	  <testsuite name="functional">
	    <directory>functional</directory>
	  </testsuite>
	  <testsuite name="all">
	    <directory>unit</directory>
	    <directory>functional</directory>
	  </testsuite>
	</testsuites>
	<filter>
	  <whitelist processUncoveredFilesFromWhitelist="true">
	    <directory suffix=".php">/var/www/protected</directory>
	    <exclude>
	      <directory suffix=".php">/var/www/protected/tests/fixtures</directory>
	      <directory suffix=".php">/var/www/protected/vendors</directory>
	      <directory suffix=".php">/var/www/protected/views</directory>
	      <directory suffix=".php">/var/www/protected/extensions</directory>
	      <directory suffix=".php">/var/www/protected/migrations</directory>
	      <file suffix=".php">/var/www/protected/yiic.php</file>
	      <file suffix=".php">/var/www/protected/yiic_test.php</file>
	      <file suffix=".php">/var/www/protected/tests/unit_bootstrap.php</file>
	      <file suffix=".php">/var/www/protected/tests/functional_custom_bootstrap.php</file>
	    </exclude>
	  </whitelist>
	</filter>

	<logging>
		<log type="coverage-clover" target="/var/www/protected/runtime/clover.xml"/>
		<!-- <log type="coverage-text" target="php://stdout" showOnlySummary="true"/> -->
		<log type="coverage-text" target="/var/www/protected/runtime/phpunit-coverage.txt" showOnlySummary="true"/>
		<log type="coverage-html" target="/var/www/protected/runtime/coverage" lowUpperBound="35"
       highLowerBound="70"/>
       <log type="coverage-php" target="/var/www/protected/runtime/coverage.serialized"/>
	</logging>
</phpunit>