DOCKER_HUB_USERNAME=<your-docker-hub-username>||visible
DOCKER_HUB_PASSWORD=<your-docker-hub-password>||masked
COVERALLS_REPO_TOKEN=<your-coveralls-repo-token>||masked
GIGADB_HOST=database|dev|visible
GIGADB_USER=gigadb|dev|visible
GIGADB_PASSWORD=<your-password>|dev|masked
GIGADB_DB=gigadb|dev|visible
FUW_DB_HOST=database|dev|visible
FUW_DB_USER=fuwdb|dev|visible
FUW_DB_PASSWORD=<your-password>|dev|masked
FUW_DB_NAME=fuwdb|dev|visible
REVIEW_DB_HOST=reviewdb|dev|visible
REVIEW_DB_USERNAME=reviewdb|dev|visible
REVIEW_DB_PORT=5432|dev|visible
REVIEW_DB_PASSWORD=<your-password>|dev|masked
REVIEW_DB_DATABASE=reviewdb|dev|visible
GITLAB_PRIVATE_TOKEN=<your-private-token>||masked
DEPLOYMENT_ENV=staging|staging|visible
DEPLOYMENT_ENV=live|live|visible
REMOTE_HOME_URL=https://<your-user>-staging.gigadb.host|staging|visible
REMOTE_HOME_URL=https://<your-user>-live.gigadb.host|live|visible
REMOTE_HOSTNAME=<your-user>-live.gigadb.host|live|visible
REMOTE_HOSTNAME=<your-user>-staging.gigadb.host|staging|visible
REMOTE_PUBLIC_HTTP_PORT=80|staging|visible
REMOTE_PUBLIC_HTTP_PORT=80|live|visible
REMOTE_PUBLIC_HTTPS_PORT=443|staging|visible
REMOTE_PUBLIC_HTTPS_PORT=443|live|visible
REMOTE_SMTP_HOST=<mail-host>|live|visible
REMOTE_SMTP_HOST=<mail-host>|staging|visible
REMOTE_SMTP_PASSWORD=<mail-password>|live|masked
REMOTE_SMTP_PASSWORD=<mail-password>|staging|masked
REMOTE_SMTP_PORT=587|live|visible
REMOTE_SMTP_PORT=587|staging|visible
REMOTE_SMTP_USERNAME=<mail-username>|live|visible
REMOTE_SMTP_USERNAME=<mail-username>|staging|visible
gigadb_db_host=|live|visible
gigadb_db_host=|staging|visible
gigadb_db_user=gigadb|staging|visible
gigadb_db_user=gigadb|live|visible
gigadb_db_password=<your-password>|live|masked
gigadb_db_password=<your-password>|staging|masked
gigadb_db_database=gigadb|live|visible
gigadb_db_database=gigadb|staging|visible
fuw_db_host=|live|visible
fuw_db_host=|staging|visible
fuw_db_user=fuw|live|visible
fuw_db_user=fuw|staging|visible
fuw_db_password=<your-password>|live|masked
fuw_db_password=<your-password>|staging|masked
fuw_db_database=fuw|live|visible
fuw_db_database=fuw|staging|visible
REVIEW_DB_DATABASE=reviewdb|live|visible
REVIEW_DB_DATABASE=reviewdb|staging|visible
REVIEW_DB_PASSWORD=<your-password>|live|masked
REVIEW_DB_PASSWORD=<your-password>|staging|masked
REVIEW_DB_PORT=5432|live|visible
REVIEW_DB_PORT=5432|staging|visible
REVIEW_DB_USERNAME=reviewdb|live|visible
REVIEW_DB_USERNAME=reviewdb|staging|visible
REVIEW_DB_HOST=reviewdb|live|visible
REVIEW_DB_HOST=reviewdb|staging|visible
PORTAINER_PASSWORD=<your-password>|live|masked
PORTAINER_PASSWORD=<your-password>|staging|masked
remote_fileserver_hostname=files.<your-user>-live.gigadb.host|live|visible
remote_fileserver_hostname=files.<your-user>-staging.gigadb.host|staging|visible
PHP_APCU_MEMORY=128M|staging|visible
PHP_FPM_MAX_CHILDREN=17|staging|visible
PHP_FPM_START_SERVERS=4|staging|visible
PHP_FPM_MIN_SPARE_SERVERS=4|staging|visible
PHP_FPM_MAX_SPARE_SERVERS=12|staging|visible
PHP_CONN_LIMIT=disabled|staging|visible
DOCKER_HUB_USERNAME=<your-docker-hub-username>||visible
DOCKER_HUB_PASSWORD=<your-password>||masked
AWS_ACCESS_KEY_ID=<your-access-key-id>||masked
AWS_SECRET_ACCESS_KEY=<your-secret-access-key>||masked
SERVER_EMAIL=foo@bar.local|dev|visible