/* footer bar */
.base-footer-bar {
  background-color: @color-warm-black;
  height: 135px;
}
.base-footer-logo-bar {
  margin: 50.5px 0px;
}
.base-footer-logo-bar li {
  padding: 0px 20px;
}
.base-footer-logo-bar li:first-child {
  padding-left: 0px;
}
.base-footer-logo-bar li:last-child {
  padding-right: 0px;
}
.base-footer-email {
  margin: 42.9px 0px 15px 0px;
  line-height: 1;
}
.base-footer-email a {
  color: #bbb;
  text-decoration: none;
}
.base-footer-social-bar {
  margin: 0px 0px 42.9px 0px;
  padding: 0px;
}
.base-footer-social-bar li {
  margin-left: 20px;
  border-radius: 3px;
  border: #bbb 1px solid;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 0px;
  background-color: @color-warm-black;
}
.base-footer-social-bar li a {
  color: #bbb;
  line-height: 20px;
  font-size: 13px;
}