.home-text-icon-list {
  margin-bottom: 0px;
}
.home-text-icon-list li {
  width: 33%;
  margin-bottom: 20px;
}
.home-text-icon-list li:nth-child(n+13) {
  display: none;
}
.home-text-icon-list li a,
.home-text-icon-list li a:focus {
  color: @dark-gray-on-white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.home-text-icon-list li a:hover {
  color: @gigadb-green-on-white;
  text-decoration: none;
}
.home-text-icon-list li a span {
  color: @brand-danger-on-white;
  font-size: 14px;
  font-weight: bold;
}
.toggle-dataset-types-btn {
  position: relative;
  top: -5px;
}