.home-text-icon-list {
  margin-bottom: 0px;
}
.home-text-icon-list li {
  width: 33%;
  margin-bottom: 20px;
}
.home-text-icon-list li a,
.home-text-icon-list li a:focus {
  color: #656565;
  text-decoration: none;
}
.home-text-icon-list li a:hover {
  color: #099242;
  text-decoration: none;
}
.home-text-icon-list li a span {
  color: #e04f5e;
}