.search-bar-group input,
.search-bar-group input:focus {
  height: 60px;
  font-family: Tahoma;
  color: #999;
  line-height: 20px;
  padding: 20px;
  border: 0px;
  box-shadow: none;
  z-index: 0;
}
.search-bar-group button,
.search-bar-group button:hover {
  padding: 20px 30px;
  line-height: 20px;
  font-size: 16px;
  border: 0px;
  z-index: 1;
}