.breadcrumb {
  display: inline-block;
  background-color: transparent;
  padding: 0px;
}
.breadcrumb li.active {
  color: @brand-primary-green;
  font-size: 12px;
}
.breadcrumb li a,
.breadcrumb li a:focus {
  color: @color-dark-gray;
  font-size: 12px;
  text-decoration: none;
}
.breadcrumb li a:hover {
  color: @brand-primary-green;
  text-decoration: none;
}