//
// Buttons
// --------------------------------------------------

.btn {
  font-size: @font-size-base;
}

.background-btn,
.background-btn:focus,
.background-btn:hover {
  color: #fff;
  background: #099242;
  border: 1px #099242 solid;
}
.background-btn-o,
.background-btn-o:focus,
.background-btn-o:hover {
  color: #099242;
  background: #fff;
  border: 1px #099242 solid;
}
.background-btn-o:hover {
  color: #fff;
  background: #099242;
}