//
// Forms
// --------------------------------------------------

label {
  font-weight: normal;
  font-size: 13px;
  color: #656565;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}
