// Images
img {
  max-width: 100%;
}

.thumbnail {
  background-color: @color-lighter-gray;
  border-radius: 0px;
  border: 0px;
  padding: 0px;
  height: inherit;
  margin-bottom: 0px;
}
.thumbnail .caption {
  padding: 15px;
}
.thumbnail .caption :is(h3, .h3) {
  margin: 0px 0px 10px;
  font-size: 18px;
  color: @color-warm-black;
  line-height: 28px;
}
.thumbnail .caption :is(h3, .h3) > small {
  font-size: 13px;
  color: @color-darker-gray;
}
.thumbnail .member-social-list {
  margin: 0px;
}
.thumbnail .member-social-list a {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: @color-medium-gray;
  color: @color-true-white;
  text-align: center;
  line-height: 22px;
  font-size: 13px;
  border-radius: 3px;
  margin-left: 10px;
}

.dataset-des-images {
  max-height: 50px;
  margin-right: 10px;
  height: 28px;
}
.dataset-des-images:hover {
  opacity: 0.6;
}

.team-grid {
  margin-inline: -15px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  @media (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
  .team-card {
    background-color: @color-lighter-gray;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .team-content {
      padding: 15px;
      flex-grow: 1;
    }
    .collapsed {
      max-height: 25.2rem; /* Show only first 2 lines */
      overflow: hidden;
    }
    .toggle-more {
      margin-top: 4px;
      color: @color-gigadb-green;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-weight: bold;
    }
  }
}
