.pagination {
  margin: 0px;
  display: inline-block;
}
.pagination > li {
  height: 34px;
  display: inline-block;
}
.pagination > li > span,
.pagination > li > a {
  padding: 7px 15px;
  color: #333;
  float: none;
  margin-left: -5px;
  display: block;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #f8f8f8;
  color: #333;
  border-color: #e5e5e5;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  border-color: #e5e5e5;
  background-color: #f8f8f8;
  color: #333;
}
.pagination-component > .pagination {
  margin-right: 10px;
}
.pagination-component > .form-inline {
  display: inline-block;
}
.pagination-component > .form-inline .form-control,
.pagination-component > .form-inline .form-control:hover,
.pagination-component > .form-inline .form-control:focus {
  width: 50px;
  box-shadow: none;
  border-color: #ddd;
}
