.progress {
  background-color: #e5e5e5;
  box-shadow: none;
  height: 4px;
}
.progress-container > p {
  margin-bottom: 10px;
  line-height: 1;
}
.progress-bar {
  background-color: #099242;
}
.progress-bar-green {
  background-color: #32bca3;
}
.progress-bar-blue {
  background-color: #25b6d3;
}
.progress-bar-yellow {
  background-color: #f7bb41;
}
.progress-bar-red {
  background-color: #e04f5e;
}