.search-bar{
  box-sizing: border-box;
  float: right;
  width: 292px;
  height: 40px;
  padding: 8px 0;
}
.search-bar .search-form {
  background: @color-gigadb-green-800;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.search-bar .search-input {
  box-sizing: border-box;
  float:left;
  width: 260px;
  height: 24px;
  background: @color-gigadb-green-800;
  border:0;
  outline: 0;
  border-radius: 5px 0 0 5px;
  padding: 5px 10px;
  color: @color-true-white;
  &:focus {
    outline: solid 2px @color-true-white;
  }
}
.search-bar .search-input::-webkit-input-placeholder {
  color:@color-true-white;
}
.search-bar .search-input:-ms-input-placeholder{
  color:@color-true-white;
}
.search-bar .search-input:-moz-placeholder{
  color:@color-true-white;
}
.search-bar .search-input::-moz-placeholder{
  color:@color-true-white;
}
.search-bar .btn-search {
  margin-left: 2px;
  float: left;
  width: 30px;
  height: 24px;
  background: @color-gigadb-green-800;
  text-align: center;
  border:0;
  outline: 0;
  border-radius: 0 5px 5px 0;
  font-size: 0;
  color:@color-true-white;
  &:focus {
    outline: solid 2px @color-true-white;
  }
}
.search-bar .btn-search span{
  font-size: 12px;
}
