; default location of TUS server
tusd_endpoint = {{ tusd_url }}

; ftp endpoint
ftpd_endpoint = {{ app_url }}
ftpd_port = 9021

; web endpoint
web_endpoint = https://{{ app_url }}/

; DSN

db_user = {{ db_user }}
db_password = {{ db_password }}
db_source = {{ db_source }}
