GIGADB_ENV={{ gigadb_environment }}
CI_PROJECT_PATH={{ gitlab_project }}
REPO_NAME={{ repo_name }}
GITLAB_PRIVATE_TOKEN={{ gitlab_private_token }}
REMOTE_HOSTNAME={{ remote_hostname }}
CI_API_V4_URL=https://gitlab.com/api/v4
