<?php

# http://www.yiiframework.com/doc/cookbook/52/
$pre_config = CMap::mergeArray(
     require(dirname(__FILE__).'/modules.php'),
     require(dirname(__FILE__).'/db.php')
 );
Yii::setPathOfAlias('Elastica', realpath(dirname(__FILE__). '/../../Elastica/lib'));

# Location where user images are stored
#Yii::setPathOfAlias('uploadPath', realpath(dirname(__FILE__). '/../../images/uploads'));
#Yii::setPathOfAlias('uploadURL', '/images/uploads/');
#Yii::setPathOfAlias('application.views.process.emails', realpath(dirname(__FILE__).'/../views/process-email'));

// This is the configuration for yiic console application.
// Any writable CConsoleApplication properties can be configured here.
return CMap::mergeArray($pre_config, array(
	'basePath'=>dirname(__FILE__).DIRECTORY_SEPARATOR.'..',
	'name'=>'Music',
    
    # preloading 'log' component
    'preload'=>array('log'),

    # autoloading model and component classes
    'import'=>array(
        'application.models.*',
        'application.components.*',
        'application.behaviors.*',
        'application.vendors.*',
        'application.helpers.*',
    ),
    # application components
    'components'=>array(
        'log'=>array(
            'class'=>'CLogRouter',
            'routes'=>array(
                array(
                    'class'=>'CFileLogRoute',
                    'levels'=>'error, warning, info, debug',
                    'logFile'=>'console.log',
                ),
            ),
        ),
        'authManager'=>array(
            'class'=>'CDbAuthManager',
            #'defaultRoles'=>array('end_user'),
            'connectionID'=>'db',
        ),
#        'db'=>array(
#            'connectionString' => 'mysql:host=db1.cogini.com;dbname=bnb_dev',
#            #'connectionString' => 'mysql:host=192.168.1.79;dbname=wsf_boardnotice',
#            'emulatePrepare' => true,
#            'username' => 'cogini_music_dev',
#            'password' => 'secret',
#            'charset' => 'utf8',
#            # turn on schema caching to improve performance
#            # 'schemaCachingDuration'=>3600,
#        ),
       'image'=>array(
            'class'=>'application.extensions.image.CImageComponent',
            # GD or ImageMagick
            'driver'=>'GD',
            # ImageMagick setup path
            #'params'=>array('directory'=>'/opt/local/bin'),
        ),
    ),
    # application-level parameters that can be accessed
    # using Yii::app()->params['paramName']
    'params'=>array(
        #'home_url' => 'http://www.cogini.com', # Where top level link goes to
        'app_email_name' => 'music',
        'app_email' => 'support@cogini.com',
        'reply_to_email' => 'support@cogini.com',
    ),
));
