body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  footer {
    margin-top: auto;
    overflow: hidden;
  }
}

// minimize WAVE contrast errors
.new-window-sr-only-msg {
  color: @color-true-black;
}
footer {
  .new-window-sr-only-msg {
    color: @color-true-white;
  }
}
