.base-footer-bar {
  background-color: @color-warm-black;
  height: 160px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.base-footer-bar__container {
  margin: 0 auto;
  padding: 40px 30px 60px 30px;
}

.base-footer-bar__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 60px;
}

.base-footer-bar__section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &:nth-child(2) {
    justify-content: flex-end;
    align-items: center;
  }

  &:last-child {
    align-items: flex-end;
  }
}

.footer-logo {
  padding: 0;
  margin: 0;
  a {
    display: block;
    width: fit-content;
  }
}

.footer-version {
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    text-wrap: nowrap;
    text-decoration: none;
    color: @gray-on-warm-black;
  }
}

.footer-contact {
  margin: 0 0 15px;
  line-height: 1;
  text-wrap: nowrap;

  a {
    text-decoration: none;
    color: @gray-on-warm-black;
  }
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social__item {
  border-radius: 3px;
  border: @gray-on-warm-black 1px solid;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 0;
  background-color: @color-warm-black;
}

.footer-social__link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: @gray-on-warm-black;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social__icon {
  max-height: 100%;
  max-width: 100%;
  padding: 4px;
}

@media (max-width: 768px) {
  .base-footer-bar {
    height: auto;
    padding: 20px 0;
    align-items: center;
  }

  .base-footer-bar__container {
    padding: 40px 30px;
  }

  .base-footer-bar__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  .base-footer-bar__section {
    flex: none;
    width: 100%;
    text-align: center;
    align-items: center;

    &:last-child {
      align-items: center;
    }
  }

  .footer-social {
    justify-content: center;
  }
}
