/* top bar */
.base-top-bar {
  min-height: 40px;
  background-color: @color-gigadb-green;
  width: 100%;
}
.base-top-bar .list-inline {
  margin: 0px;
  padding: 0px;
  height: 40px;
  display: flex;
  align-items: center;
}
.base-top-bar .list-inline a {
  color: @color-true-white;
}
.base-top-bar .list-inline li {
  padding: 10px 20px 10px 0px;
}
.base-top-bar .top-bar-left {
  display: flex;
  justify-content: flex-end;
}
.base-top-bar .search-bar-mobile {
  display: none;
}
@media (max-width: @screen-sm-max) {
  .base-top-bar .top-bar-left .search-bar {
    display: none;
  }
  .base-top-bar .search-bar-mobile {
    display: block;
    margin-top: 8px;
  }
}
.list-inline.base-top-social-bar > li > a {
  line-height: 20px;
  text-decoration: none;
}
.base-top-bar .list-inline.base-top-account-bar li {
  padding: 12.5px 0px;
}
.base-top-account-bar li a {
  border-left: @color-true-white 1px solid;
  padding: 0px 15px;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  text-wrap: nowrap;
}
.base-top-account-bar li a i {
  margin-right: 5px;
}
.base-top-account-bar li:first-child a {
  border-left: 0px;
  padding-left: 0;
}
.base-top-account-bar li:last-child a {
  padding-right: 0px;
}

@media (max-width: @screen-xs-max) {
  .with-hypothesis .base-top-bar .container {
    padding-right: 50px;
  }
}

@media (max-width: @screen-xxs-max) {
  .account-navigation {
    display: none;
  }
  .base-top-bar .list-inline {
    height: auto;
    min-height: 40px;
    flex-wrap: wrap;
    gap: 0 15px;
  }
  .base-top-account-bar li a {
    padding: 0;
    border: 0;
  }
}