.modal-footer-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.modal-close-btn {
  opacity: 1;
  color: @dark-gray-on-white;
  background: transparent;
  &:hover {
    color: @color-warm-black;
  }
}

@media (max-width: @screen-xs-max) {
  .modal-dialog {
    position: fixed;
    inset: 10px;
    transform: initial;
    transition: initial;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}