{
    "require": {
        "yiisoft/yii": "${YII_VERSION}",
        "phpmailer/phpmailer": "^6.0"
    },
    "require-dev": {
        "behat/behat":  "^3.5",
        "behat/mink":   "^1.7",
        "behat/mink-extension":  "*",
        "behat/mink-goutte-driver":     "*",
        "behat/mink-selenium2-driver":  "*",
        "fabpot/goutte":    "^3.2",
        "phpunit/phpunit": "^5.7",
        "phpunit/php-code-coverage": "*",
        "phpunit/phpunit-mock-objects": "*",
        "aik099/phpunit-mink": "~2.0",
        "squizlabs/php_codesniffer": "~3.0",
        "phpdocumentor/phpdocumentor": "^2.9",
        "friendsofphp/php-cs-fixer": "^v2.2",
        "sebastian/phpcpd": "^3.0",
        "phpmd/phpmd": "2.6.0"
    },
    "minimum-stability": "stable",
    "config": {
        "bin-dir": "bin",
        "platform": {
            "php": "${PHP_VERSION}"
        }
    }
}