{
    "name": "gigascience/gigadb-website",
    "type": "yii-project",
    "description": "GigaDB primarily serves as a repository to host data and tools associated with articles in GigaScience journal. (${COMPOSER_WARNING})",
    "homepage": "http://gigadb.org",
    "require": {
        "php": "^${PHP_VERSION}",
        "yiisoft/yii": "${YII_VERSION}",
        "yiisoft/yii2": "${YII2_VERSION}",
        "yiisoft/yii2-swiftmailer": "~2.1.0",
        "phpmailer/phpmailer": "^6.0",
        "gabrielelana/byte-units": "^0.5",
        "google/apiclient": "v2.2.2",
        "suin/php-rss-writer": "^1.6",
         "leafo/lessphp": "^v0.3.9",
         "opauth/opauth": "^0.4.5",
         "opauth/facebook": "^0.4.2",
         "opauth/twitter": "^0.3.2",
         "opauth/google": "^0.2.2",
         "opauth/linkedin": "^0.3.0",
         "drewm/mailchimp-api": "v2.5.3",
         "sizeg/yii2-jwt": "~1.2.0",
         "twig/twig": "~v1.42.0",
         "phpoffice/phpspreadsheet": "^1.10",
         "creocoder/yii2-flysystem": "~0.9.0",
         "ramsey/uuid": "^3.9.0",
         "neam/yii-streamlog": "^1.0.0"
    },
    "require-dev": {
        "behat/behat":  "^3.5",
        "behat/mink":   "^1.7",
        "behat/mink-extension":  "*",
        "behat/mink-goutte-driver":     "*",
        "behat/mink-selenium2-driver":  "*",
        "fabpot/goutte":    "^3.2",
        "phpunit/phpunit": "^5.7",
        "phpunit/phpcov": "^3.1",
        "phpunit/php-invoker": "^1.1.4",
        "phpunit/dbunit": "^2.0",
        "phpunit/php-code-coverage": "*",
        "phpunit/phpunit-mock-objects": "*",
        "aik099/phpunit-mink": "@dev",
        "squizlabs/php_codesniffer": "~3.0",
        "phpdocumentor/phpdocumentor": "^2.9",
        "friendsofphp/php-cs-fixer": "^v2.2",
        "sebastian/phpcpd": "^3.0",
        "phpmd/phpmd": "2.6.0",
        "php-coveralls/php-coveralls": "v2.1.0",
        "php-mime-mail-parser/php-mime-mail-parser": "5.0.5",
        "vlucas/phpdotenv": "v3.4.0"
    },
    "minimum-stability": "stable",
    "config": {
        "bin-dir": "bin",
        "platform": {
            "php": "7.1.30"
        }
    },
    "autoload": {
        "psr-0": {
            "": ["features/bootstrap"]
        },
        "classmap":
        [
            "/var/www/vendor/swiftmailer/swiftmailer/lib/classes/Swift/"
        ],
        "files": [
            "/var/www/vendor/swiftmailer/swiftmailer/lib/dependency_maps/cache_deps.php",
            "/var/www/vendor/swiftmailer/swiftmailer/lib/dependency_maps/mime_deps.php",
            "/var/www/vendor/swiftmailer/swiftmailer/lib/dependency_maps/message_deps.php",
            "/var/www/vendor/swiftmailer/swiftmailer/lib/dependency_maps/transport_deps.php",
            "/var/www/vendor/swiftmailer/swiftmailer/lib/preferences.php"
        ]
    },
    "repositories": [
        {
            "type": "composer",
            "url": "https://asset-packagist.org"
        }
    ]
}
