[wasabi]
type = s3
env_auth = false
access_key_id = ${WASABI_ACCESS_KEY_ID}
secret_access_key = ${WASABI_SECRET_ACCESS_KEY}
region = ap-northeast-1
endpoint = s3.ap-northeast-1.wasabisys.com
location_constraint = 
acl = public-read
server_side_encryption = 
storage_class = 
provider = Other

[gigadb-datasetfiles]
type = s3
provider = AWS
access_key_id = ${gigadb_datasetfiles_aws_access_key_id}
secret_access_key = ${gigadb_datasetfiles_aws_secret_access_key}
region = ap-east-1
location_constraint = ap-east-1
storage_class = GLACIER
env_auth = false