[default]
aws_access_key_id = {{ gigadb_dataset_metadata_aws_access_key_id }}
aws_secret_access_key = {{ gigadb_datasets_metadata_aws_secret_access_key }}

[wasabi-transfer]
aws_access_key_id = {{ wasabi_access_key_id }}
aws_secret_access_key = {{ wasabi_secret_access_key }}

[aws-transfer]
aws_access_key_id = {{ gigadb_datasetfiles_aws_access_key_id }}
aws_secret_access_key = {{ gigadb_datasetfiles_aws_secret_access_key }}
