<?php
return [
	"jwt_key" => "$FUW_JWT_KEY",
	"remote_docker_hostname" => "$REMOTE_DOCKER_HOSTNAME",
	// "docker_ssl" => [
	// 	"cafile" => "$cafile",
	// 	"local_cert" => "$local_cert",
	// 	"local_pk" => "$local_pk",
	// 	"peer_name" => "$peer_name",
	// 	"verify_peer" => false,
 //      	"verify_peer_name" => false,
 //      	"allow_self_signed" => false
	// ]
];
