<?php
return [
	"jwt_key" => "$FUW_JWT_KEY",
	"remote_docker_hostname" => "$REMOTE_DOCKER_HOSTNAME",
	"dataset_filedrop" => [
		"ftpd_endpoint" => "$SERVER_HOSTNAME",
		"ftpd_port" => "9021",
		"template_path" => "/var/www/files/templates",
		"tusd_path" => "/fileserver/",
		"download_base_url" => "$HOME_URL",
	],
	"dataset_upload" => [
		"sender" => "admin@gigadb.org",
		"recipient" => "gigadb-editorial@rijam.sent.as",
		"curators_email" => "gigadb-database@rijam.sent.as",
		"template_path" => "/var/www/files/templates",
		"spreadsheet_supported_format" => ["text/csv", "text/tab-separated-values"],
	],
	"docker_ssl" => false,
];
