<?php
return [
	"jwt_key" => "$FUW_JWT_KEY",
	"remote_docker_hostname" => "$REMOTE_DOCKER_HOSTNAME",
	"dataset_filedrop" => [
		"ftpd_endpoint" => "gigadb.org",
		"ftpd_port" => "9021",
		"template_path" => "/var/www/files/templates",
	],
	"dataset_upload" => [
		"sender" => "admin@gigadb.org",
		"recipient" => "editorial@gigasciencejournal.com",
		"template_path" => "/var/www/files/templates",
	],
	"docker_ssl" => false,
];
