@block-spacing: 32px;

.admindataset-form {
  .note {
    margin-bottom: 24px;
  }
  .form-block-1 {
    margin-block: @block-spacing;
  }
  .form-block-2 {
    margin-block: @block-spacing;
  }
  .form-block-3 {
    margin-block: @block-spacing;
  }
  .form-block-4 {
    margin-block: @block-spacing;
  }
  .form-block-5 {
    margin-block: @block-spacing;
  }
  .form-block-6 {
    margin-block: @block-spacing;
  }
  .form-group {
    margin-top: 10px;
    .control-label {
      padding-block: 0;
      margin-block: 0;
      font-weight: bold;
    }
    .error {
      color: @brand-danger-on-lighter-gray;
    }
    .textarea-control {
      margin-top: -10px;
    }
    .form-control {
      &:focus {
        outline: 2px solid @color-gigadb-green;
      }
      &[type="file"] {
        background-color: transparent;
      }
    }
    .control-btn {
      margin-top: -10px;
    }
    .control-msg {
      margin-top: 4px;
    }
  }
  fieldset {
    legend {
      font-size: @font-size-base;
      padding-bottom: 4px;
      font-weight: bold;
      color: @dark-gray-on-light-gray;
    }
    .checkbox-group {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .form-checkbox-container {
      display: flex;
      align-items: center;
      gap: 8px;
      .checkbox-wrapper {
        input[type="checkbox"] {
          padding: 8px;
          position: relative;
          accent-color: @color-gigadb-green;
          border-radius: 3px;
          &:focus {
            outline: none;
            &::before {
              content: "";
              display: block;
              position: absolute;
              inset: -3px;
              border: 2px solid @color-gigadb-green;
              border-radius: 4px;
              pointer-events: none;
            }
          }
        }
      }
      .checkbox-label {
        text-align: left;
      }
    }
  }
  .image-preview-wrapper {
    padding-bottom: 18px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .dataset-image {
      width: 100px;
    }
  }
  .form-control-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-bottom: 30px;
    .submit-btn {
      margin-top: 0;
    }
  }
  .tag-editor .placeholder {
    color: @dark-gray-on-light-gray;
  }
  .errorMessage {
    color: @brand-danger-on-lighter-gray;
  }
}
.block-spacing {
  padding-block: 4px;
}
.clear-file-url-btn {
  font-weight: bold;
  margin-top: 0!important;
  margin-left: 4px;
}
