.admindataset-form {
  // clear: both;
  // .a-form-group {
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;
  //   margin-top: 10px;
  //   .a-control-label {
  //     padding-block: 0;
  //     margin-block: 0;
  //   }
  //   .a-form-control {
  //     border-color: @color-light-gray;
  //     box-shadow: none;
  //     color: @color-darker-gray;
  //     font-size: 13px;
  //   }
  // }
  .form-group {
    margin-top: 10px;
    .control-label {
      padding-block: 0;
      margin-block: 0;
    }
    .form-control {
      // border-color: @color-light-gray;
      // box-shadow: none;
      // color: @color-darker-gray;
      // font-size: 13px;
    }
  }
}