/* advisory */
.advisory-img-block img {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
}
.advisory-img-block {
  width: 20%;
  text-align: center;
}
.advisory-img-block p {
  margin-bottom: 30px;
}
.advisory-img-block a {
  color: #656565;
  text-decoration: none;
}
.advisory-img-block a:hover {
  color: #5a9c7b;
  text-decoration: underline;
}
