/* contact */
.contact-form input,
.contact-form textarea,
.contact-form input:hover,
.contact-form textarea:hover,
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #e5e5e5;
  box-shadow: none;
}
.fa-ul {
  margin-left: 22px;
}
.fa-ul li {
  margin-bottom: 10px;
  color: #656565;
}
.fa-ul i {
  color: #099242;
}
