@block-spacing: 20px;

.dataset-submission-page {
  .dataset-submission-nav {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  .note {
    color: @color-true-black;
    margin-bottom: 12px
  }
  .form-block-1 {
    margin-block: @block-spacing;
  }
  .form-block-2 {
    margin-block: @block-spacing;
  }
  .form-block-3 {
    margin-block: @block-spacing;
  }
  .full-width-block {
    margin-block: @block-spacing;
    // Absolute width values so that there is vertical alignment with fields in blocks 1 and 4
    .control-label {
      width: 157px;
    }
    .input-wrapper {
      width: 879px;
    }
    @media (max-width: 1199px) {
      .control-label {
        width: 130px;
        max-width: 20%;
      }
      .input-wrapper {
        width: 722px;
        max-width: 80%;
      }
    }

  }
  .form-group {
    margin-bottom: 10px;
    input[aria-disabled="true"] {
      background-color: @color-light-gray;
    }
    .error {
      color: @brand-danger-on-lighter-gray;
    }
    .control-label {
      color: @color-true-black;
      font-weight: bold;
    }
    .help-block {
      color: @color-true-black;
    }
    .sibling-controls {
      .sibling-control:not(:first-child) {
        padding-left: 5px;
      }
      .sibling-control:not(:last-child) {
        padding-right: 5px;
      }
    }
  }
  fieldset {
    margin-bottom: 10px;
    legend {
      font-weight: bold;
      color: @color-true-black;
    }
    .checkbox-group {
      gap: 6px;
      .checkbox-horizontal {
        .control-label {
          color: @color-true-black;
          margin-bottom: 4px;
        }
      }
    }
  }
  .form-control-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-bottom: 30px;
    padding-right: 0;
    > * {
      margin: 0;
    }
  }
  .tag-editor {
    border-color: #cccccc;
    border-radius: 4px;
    .placeholder {
      color: @dark-gray-on-light-gray;
    }
  }
}