/* dataset */
.media-left {
  padding-right: 20px;
}
.media-object {
  max-width: none;
  width: 300px;
  height: auto;
}
p.dataset-release-date-text {
  margin-bottom: 10px;
  padding-left: 13px;
}
.dataset-color-background-block {
  padding: 13px;
}
.dataset .subsection {
  margin-bottom: 20px;
}
.dataset .background-btn {
  height: 44px;
}
.doi-badge .badge:last-child {
  font-size: 13px;
  font-weight: normal;
  color: @color-true-white;
  background-color: @color-gigadb-green;
  padding: 5px 10px;
  border-radius: 0px 4px 4px 0px;
  text-decoration: none;
}
.doi-badge .badge:first-child {
  background-color: #aaaaaa;
  font-size: 13px;
  font-weight: normal;
  padding: 5px 10px;
  border-radius: 4px 0px 0px 4px;
}

#dataset_slider{
  h2{
    display: inline-block;
    margin-right: 20px;
  }
  .carousel{ margin-bottom: 0;}
  .carousel-inner{
    width:auto;
  }
  .data-block{
    width: 172px;
    float: left;
    margin: 10px 0 10px 20px;
    img{
      width:auto;
      margin: 0 auto 10px auto;
      display: block;
      max-width:172px;
      min-height:172px;
      height:172;
    }
  }
  .carousel-control.right{
    right:0px;
    top:-18px;
  }
  .carousel-control.left{
    right:25px;
    top:-18px;
    left: auto;
  }
  .carousel-control.right, .carousel-control.left {
    font-size: 28px !important;
    line-height: 18px;
  }
}
.left-border-title-lg i{ font-size:15px;}

.drop-citation-btn {
  color: white;
  font-size: 11px;
  border: none;
  cursor: pointer;
  background-color: #099242;
  padding: 0.1px 10px 2px 10px;
  border-radius: 4px 4px 4px 4px;
  display: inline-block;
  position: relative;
  right: -10px;
}
.drop-citation-btn:focus {
  outline: none;
}
.citation-content {
  display: none;
  position: absolute;
  left: 45%;
  background-color: white;
  min-width: 120px;
  overflow: auto;
  border:  1px solid darkseagreen;
  border-radius: 4px 4px 4px 4px;
  z-index: 1; /*stack in front */
}
.citation-content a {
  color: black;
  padding: 8px 14px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}
.citation-content a:hover {background-color: #F3FAF6;}