.result-sub-links {
  font-weight: bold;
  color: #099242 !important;
}
.result-sub-links:hover {
  background-color: transparent !important;
  color: #6ea23a !important;
}
.result-cell li .result-main-link {
  font-size: 17px !important;
  color: #099242 !important;
}
.result-cell li .result-main-link:hover {
  color: #6ea23a !important;
  background-color: transparent !important;
}
.result-cell li a {
  padding-left: 0px !important;
  border-width: 0px !important;
  background-color: transparent !important;
  color: @color-true-black !important;
}
.result-cell li a:hover {
  background-color: transparent !important;
  color: #6ea23a;
}
