<?php

return [
    'components' => [
        'mailer' => [
            'class' => 'yii\swiftmailer\Mailer',
            'viewPath' => '@common/mail',
            // send all mails to a file by default. You have to set
            // 'useFileTransport' to false and configure a transport
            // for the mailer to send real emails.
            'useFileTransport' => false,
            'transport' => [
                'class' => 'Swift_SmtpTransport',
                'encryption' => 'ssl',
                'host' => "$REMOTE_SMTP_HOST",
                'port' => "$REMOTE_SMTP_PORT",
                'username' => "$REMOTE_SMTP_USERNAME",
                'password' => "$REMOTE_SMTP_PASSWORD",
            ],   
        ],
        'db' => [
            'class' => 'yii\db\Connection',
            'dsn' => "pgsql:host=$FUW_DB_HOST;dbname=$FUW_DB_NAME",
            'username' => "$FUW_DB_USER",
            'password' => "$FUW_DB_PASSWORD",
            'charset' => 'utf8',
        ],
    ],


];
