//
// Typography
// --------------------------------------------------

// Headings
// -------------------------

h4 {
  margin: 0px 0px 30px;
}

h4, .h4 { font-size: @font-size-h4; }

.text-danger {
  color: @color-brand-danger;
}

// Body text
// -------------------------

p {
  color: @color-darker-gray;
  line-height: 22px;
  margin-bottom: 5px
}

// Lists
// -------------------------

// Unordered and Ordered lists
ol, ul.content-text {
  padding: 0px 0px 0px 15px;
  margin-bottom: 20px;
}
ol > li,
ul.content-text > li {
  color: @color-dark-gray;
  line-height: 22px;
}

// MISC
// ----

// Horizontal rules
hr {
  margin: 20px 0px;
  border: 0px;
  border-top: 1px solid @color-light-gray;
}
