//
// Variables
// --------------------------------------------------

//== Colors
//

// Canonical colors
@color-gigadb-green: #099242;
@color-brand-danger:  #ff2020;

// Neutral colors
@color-true-white: #ffffff;
@color-lighter-gray: #f8f8f8;
@color-light-gray: #e5e5e5;
@color-medium-gray: #cccccc;
@color-dark-gray: #999;
@color-darker-gray: #656565;
@color-warm-black: #333;
@color-true-black: #000000;

// Utility colors
@color-datatype-green: #32bca3;
@color-datatype-blue: #25b6d3;
@color-datatype-yellow: #f7bb41;
@color-datatype-red: #e04f5e;
@color-pale-green: #F3FAF6;
@color-watercourse-green: #087A38;
@color-light-green: #a5cc7e;
@color-medium-green: #6ea23a;
@color-patina-green: #5a9c7b;
@color-dark-green: #005b2d;
@color-medium-blue: #08c;
@color-dark-blue: #005580;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Global text color on `<body>`.
@text-color:  @color-dark-gray;

//** Global textual link color.
@link-color:  @color-gigadb-green;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

// In common.css
//* {
//  font-size: 13px;
//  font-family: 'Open Sans', Lato, 'PT Sans', Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Zen Hei Mono', sans-serif;
//  line-height: 1;
//}

// In common.css font-family: 'Open Sans', Lato, 'PT Sans', Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Zen Hei Mono', sans-serif;
@font-family-sans-serif:  "Open Sans", Lato, "PT Sans", Arial, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Zen Hei Mono", sans-serif;
@font-family-base:        @font-family-sans-serif;

// In common.css font-size: 13px
@font-size-base:  13px;

// In common.css h4 has font-size: 16px;
@font-size-h4:            16px;

// In common.css line-height: 1
@line-height-base:        1;


//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
@icon-font-path:          "../fonts/";

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-default-color: @color-gigadb-green;
